*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

header{
    position: fixed;
    width: 100%;
    height: 50px;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    z-index: 1000;
}

header .logo{
    color:#fff;
    text-decoration: none;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 700;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    position: relative;
    list-style-type: none;
    
}

header ul li a{
    position: relative;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px;
}
header ul li a:hover{
    background: #4caf50;
}

.toggle{
    display: none;
}
/*section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 150px 100px 100px;
}*/
section img{
    max-height: 350px;
    margin-left: 30px;
}
#home{
    background: url(Image/img4.jpg);
    color: #fff;
    background-attachment: fixed;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 150px 100px 100px;
}
#home .con-area h2 span{
    color: #5cf210
}
#home div a{
    border: 1px solid;
    border-radius: 20px;
    padding:7px 30px
}
#about{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.about{
    display: flex;
    width: 100%;
}
.about .aboutImg {
    width: 35%;
}
.about .about-me{
    width: 60%;
}
.about .about-me h2{
    text-align: center;
    margin-bottom: 20px;
}
.about .about-me h2 span{
    color: #5cf210;
}
.about .about-me .about-info{
    display: flex;
    width: 100%;
}
.about .about-me .about-info .info{
    width: 50%;
}.about .about-me .about-info .info h3{
    padding: 5px ;
    pointer-events: none;
    padding-left: 50px;
}
.about .about-me .about-info .info p{
    font-size: 15px;
    padding: 5px;
    transition: .5s;
}
.about .about-me .about-info .info p:hover{
    padding-left: 10px;
}
.about .about-me .about-info .info p span{
    color: burlywood;
}
.about .about-me .about-info .skills{
    width: 50%;
}
.about .about-me .about-info .skills h3{
    padding: 5px;
    pointer-events: none;
    text-align: center;
}
.about .about-me .about-info .skills p{
    padding-top: 10px;
}
.about .about-me .about-info .skills .html, .about .about-me .about-info .skills .css, .about .about-me .about-info .skills .javascript , .about .about-me .about-info .skills .php , .about .about-me .about-info .skills .wordpress {
    display: flex;
}
.about .about-me .about-info .skills .html .s1{
    width: 90%;
    height: 10px;
    background: #5cf210;
}
.about .about-me .about-info .skills .css .s1{
    width: 85%;
    height: 10px;
    background: #5cf210;
}
.about .about-me .about-info .skills .javascript .s1{
    width: 80%;
    height: 10px;
    background: #5cf210;
}
.about .about-me .about-info .skills .php .s1{
    width: 88%;
    height: 10px;
    background: #5cf210;
}
.about .about-me .about-info .skills .javascript .s1{
    width: 80%;
    height: 10px;
    background: #5cf210;
}
.about .about-me .about-info .skills .wordpress .s1{
    width: 80%;
    height: 10px;
    background: #5cf210;
}

.about .about-me .about-info .skills .html .s2{
    
    width: 10%;
    height: 10px;
    background: #fff;
    margin-bottom: 10px;
}
.about .about-me .about-info .skills .css .s2{
    
    width: 15%;
    height: 10px;
    background: #fff;
    margin-bottom: 10px;
}
.about .about-me .about-info .skills .javascript .s2{
    
    width: 20%;
    height: 10px;
    background: #fff;
    margin-bottom: 10px;
}
.about .about-me .about-info .skills .php .s2{
    
    width: 15%;
    height: 10px;
    background: #fff;
    margin-bottom: 10px;
}
.about .about-me .about-info .skills .wordpress .s2{
    
    width: 20%;
    height: 10px;
    background: #fff;
    margin-bottom: 10px;
}

section h2{
    font-size: 2.5em;
    text-transform: uppercase;
}
section p{
    font-size: 18px;
}
section a{
    display: inline-block;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 18px;
    background: #111;
    color: #fff;
    margin-top: 10px;
}
section:nth-child(odd){
    position: relative;
    justify-content: center;
    align-items: center;
    background: #111;
    color: #fff;
}
#service{
    position: relative;
    min-height: 100vh;
    padding: 100px 100px 100px;
}
.service .ser-header{
    text-align: center;
    padding-bottom: 30px;
}
.service .ser-header span{
    color: #5cf210
}
.ser-bx {
    display: flex;
    width: 80%;
    position:relative;
    margin: auto;
    
}
.ser-bx .html{
    width: 33%;
    text-align: center;
    height: 60vh;
    padding-top: 60px;
    background: #e84118;
    transition: 0.5s;
    border-radius: 10px;
}
.ser-bx .html:hover{
    margin-top: -10px;
}

.ser-bx .css{
    width: 33%;
    text-align: center;
    height: 60vh;
    padding-top: 60px;
    margin: 0 10px;
    background: #0097e6;
    transition: .5s;
    border-radius: 10px;
}
.ser-bx .css:hover{
    margin-top: -10px;
}
.ser-bx .html h2,.ser-bx .css h2,.ser-bx .java h2{
    color: #5cf210;
    font-size: 30px;
}
.ser-bx .html p,.ser-bx .css p,.ser-bx .java p{
    font-size: 16px;
}
.ser-bx .java{
    width: 33%;
    text-align: center;
    height: 60vh;
    padding-top: 60px;
    background: #B53471;
    transition: .5s;
    border-radius: 10px;
}
.ser-bx .java:hover{
    margin-top: -10px;
}
#team{
    position: relative;
    min-height: 100vh;
    padding: 100px 100px 100px;
}
.blog-bx{
    display: flex;
    width: 100%;
    position: relative;
}
#team div h2{
    padding: 20px 0;
}
.blog-bx .bx1{
    width: 31%;
}
.blog-bx .bx1 h3{
    font-size: 20px;
}
.blog-bx .bx1 .title, .blog-bx .bx2 .title, .blog-bx .bx3 .title{
    color: #747d8c;
    font-size: 16px;
}
.blog-bx .bx1 p,.blog-bx .bx2 p,.blog-bx .bx3 p{
    font-size: 16px;
}
.blog-bx .bx1 img{
    width: 100%;
    margin: 0;
}
.blog-bx .bx2 img{
    width: 100%;
    margin: 0;
}
.blog-bx .bx3 img{
    width: 100%;
    margin: 0;
}
.blog-bx .bx2{
    width: 31%;
    margin: 0 30px;
}
.blog-bx .bx3{
    width: 31%;
}


@media (max-width:992px){
    
    section{
        padding: 100px 50px 50px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    section img{
        margin: 50px 0 0;
        max-width: 100%;
    }
    header ul{
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: calc(100vh - 80px);
        padding: 50px 100px;
        text-align: center;
        overflow: auto;
        transition: 0.5s;
        background: #111;
        flex-direction: column;
        transform: translateY(-100%);
        opacity: 0;
    }
    header.active ul{
        top: 50px;
        transform: translateY(0);
        opacity: 1;
    }
    header ul li input{
        display: none;
    }
    header ul li a{
        margin: 5px 0;
        font-size: 24px;
    }
    .toggle{
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .toggle:before{
        content: '';
        position: absolute;
        bottom: 10px;
        width: 100%;
        height: 2px;
        background: #fff;
        z-index: 1;
        box-shadow: 0 10px 0 #fff;
        transition: 0.5s;
    }
    .toggle:after{
        content: '';
        position: absolute;
        bottom: 20px;
        width: 100%;
        height: 2px;
        background: #fff;
        z-index: 1;
        transition: 0.5s;
    }
    header.active .toggle:before{
        top: 14px;
        transform: rotate(45deg);
        box-shadow: 0 0 0 #fff;
    }
    header.active .toggle:after{
        bottom: 14px;
        transform: rotate(-45deg);
    }
    #home .con-area h2{
        font-size: 30px;
    }
    #home .con-area p{
        font-size: 15px;
    }
    #home .con-area a{
        font-size: 15px;
    }
    .about .aboutImg{
        width: 0;
    }
    .about .about-me{
        width: 100%;
    }
    .about .about-me h2{
        font-size: 30px;
    }
    .ser-bx{
        display: block;
    }
    .ser-bx .html,.ser-bx .css,.ser-bx .java{
        width: 100%;
    }
    .ser-bx .css{
        margin: 10px 0;
    }
    .blog-bx{
        display: block;
    }
    .blog-bx .bx1,.blog-bx .bx2,.blog-bx .bx3{
        width: 100%;
    }
    .blog-bx .bx2{
        margin: 50px 0;
    }
}


